################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs

.suo
/ShoppingApps/.vs/ShoppingApps/v17/.suo
